body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #909090;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left{
    display: flex;
    align-items: center;
}
.nav-right{
    display: flex;
    gap: 15px;
    padding-right: 10%;
}

.navbutton {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}
.navimg{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
}

.navbutton:hover {
    background-color: #555;
    border-radius: 5px;
}

.signin{
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    width: 300px;
}

.signin h2 {
    margin-bottom: 20px;
    color: #333;
}

.signin form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signin input[type="text"],
.signin input[type="password"]{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.signin label, .signup label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.signin button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}
.signin button:hover  {
    background-color: #0056b3;
}
.gender {
    display: flex;
    justify-content: center;
    gap: 10px;
}